* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Poppins;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-20deg);
	}

	to {
		opacity: 100%;
		transform: rotateX(0);
	}
}

#logo {
	height: 60px;
	width: auto;
}

header {
	background-color: white;
	padding: 20px 40px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#buttons {
	display: flex;
	gap: 50px;
}

#buttons button {
	background-color: white;
	border: none;
	font-size: 16px;
	font-weight: 700;
}

#book {
	border: none;
	background-color: #1BB36F;
	color: white;
	height: 50px;
	width: 160px;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 700;
}

button:hover {
	scale: 110%;
	transition: 0.1s;
}

button:active {
	scale: 90%;
	transition: 0.1s;
}

body {
	background-image: url(./images/Background.png);
	background-size: cover;
}

h1 {
	font-family: Bevan;
	font-size: 40px;
	padding-top: 20px;
}

h2 {
	font-family: Shadows Into Light;
	color: #F35232;
	font-size: 40px;
	margin-top: -20px;
}

#home-content,
#menu-content,
#about-content,
#contact-content {
	position: relative;
	padding-top: 40px;
	padding-left: 40px;
	animation: transitionIn 1s;
}

#home-content div {
	width: 540px;
	padding-left: 40px;
}

#home-content p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.plate {
	position: absolute;
	right: 0;
	height: 400px;
	padding-right: 240px;
}

.leaf {
	height: 400px;
	position: absolute;
	right: 0;
	top: 0;
}

#home-content button {
	height: 60px;
	width: 200px;
	border-radius: 30px;
	font-size: 20px;
}

#menu-content {
	text-align: center;
	padding: 0;
}

#menu-content img {
	height: 160px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#menu-container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

#menu-container div {
	background-color: white;
	width: 240px;
	padding: 20px;
	margin-bottom: 60px;
	margin-top: 20px;
	border-radius: 40px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

h4 {
	color: #F35232;
	font-size: 20px;
	margin-top: 20px;
}

#about-content {
	display: flex;
}

#about-content img  {
	height: 400px;
	padding-left: 40px;
}

#about-content div {
	width: 540px;
	margin-left: 100px;
	margin-top: 20px;
}

#about-content p {
	margin-top: 20px;
}

#contact-content {
	text-align: center;
	padding: 0;
}

#contact-content img {
	height: 320px;
	border-radius: 60px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#contact-content div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#form-container {
	height: 320px;
	width: 500px;
	background-color: white;
	border-radius: 60px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	padding: 0;
}